@model Denok.Web.Modules.Link.Model.GenerateViewModel

@{
    ViewData["Title"] = "About";
}
<h1>Denok</h1>

<p>A self hosted Link Shortener built with <span class="text-danger">Dotnet (C#)</span> and <span class="text-danger">Rust</span></p>
