@model Denok.Web.Modules.Link.Model.GenerateViewModel

@{
    ViewData["Title"] = "Dashboard";
}
<!-- Page Heading -->
    <h1 class="h3 mb-1 text-gray-800">Profile</h1>

    <!-- Content Row -->
    <div class="row">

        <!-- Grow In Utility -->
        <div class="col-lg-6">

            <div class="card position-relative">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">My Profile</h6>
                </div>
                <div class="card-body">
                    <div class="mb-3"><h6>Username: @Model.Profile.Username</h6></div>
                    <div class="mb-3"><h6>Email: @Model.Profile.Email</h6></div>
                    <div class="mb-3"><h6>Phone Number: @Model.Profile.PhoneNumber</h6></div>
                    
                </div>
            </div>

        </div>

    </div>